
/* http://www.colorzilla.com/gradient-editor/#000428+0,004e92+100 */
.header-gradient-callout .header-overlay,
.footer .footer-overlay,
.navbar-dark.bg-inverse {
  background: #0b286e;
  background: -moz-linear-gradient(left,  #0b286e 0%, #113da6 100%);
  background: -webkit-linear-gradient(left,  #0b286e 0%,#113da6 100%);
  background: linear-gradient(to right,  #0b286e 0%,#113da6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b286e', endColorstr='#113da6',GradientType=1 );


  @include media-breakpoint-down(sm) {
    .navbar-nav {
      background-color: #113da6;
    }
  }
}

/*
.navbar-dark.bg-inverse {
  background: #202223;
  background: -moz-linear-gradient(left,  #202223 0%, #373a3c 100%);
  background: -webkit-linear-gradient(left,  #202223 0%,#373a3c 100%);
  background: linear-gradient(to right,  #202223 0%,#373a3c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202223', endColorstr='#373a3c',GradientType=1 );

  @include media-breakpoint-down(sm) {
    .navbar-nav {
      background-color: #373a3c;
    }
  }
}
*/
.icon-eq {
  height: 6rem !important;
  margin-bottom: 1.5rem;
}

.icon-feature-eq {
  height: 3rem !important;
  margin-bottom: 1.5rem;
}

.alert p:last-child {
  margin-bottom: 0 !important;
}

body.fixed-nav {
  margin-top: 72px;
}

body.prod-nav {
  margin-top: 122px;
}

body.prod-nav.sub-nav {
  margin-top: 174px;
}

.compare {
  td,
  .column {
    text-align: center;
  }

  .feature {
    text-align: right;
  }
}

.popover-help {
  color: #818a91;
}

.navbar.bg-transparent {
  a {
    color: #fff !important;
  }

  .navbar-nav > li:hover > a:before {
    background: #fff;
  }
/*
  @include media-breakpoint-down(sm) {
    .navbar-nav {
      background-color: rgba(66,165,245,0.90);
    }
  }
  */
}

.no-events {
  pointer-events: none;
}

.all-events {
  pointer-events: all;
}

.navbar-light {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.02), 0 6px 30px 5px rgba(0, 0, 0, 0.07), 0 8px 10px -5px rgba(0, 0, 0, 0.05);
/*  box-shadow: $mdl-shadow--4dp;*/
}

/* docs and manual margins */
.breadcrumbs {
  margin-bottom: 2rem;
}
.card-block {
  margin-bottom: 2rem;
}
.col-lg-3.pull-lg-9 .list-group {
  margin-bottom: 1rem;
}

#fixed-nav {
  top: 0;
  z-index:99;
  width: 100%;
  position: fixed;

  .navbar-dark {
    height: 72px; 
    padding: 0;
  }

  .navbar-brand {
    float: left;
  }

  .nav {
    margin: 22px 0 0 0;
    li.nav-item {
      margin-left: 0.3rem;
    }
    li.nav-item:first-child {
      margin-left: 0rem;
    }
  }
}



@include media-breakpoint-down(xs) {
  #fixed-nav .navbar .container {
    width: 100%;
  }
}

.i-nav {
  i {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 3px;
  }
}

@include media-breakpoint-down(xs) {
  .i-nav i {
    font-size: 1.4rem !important;
  }
}

#subnav {

  .dropdown-menu {
    box-shadow: $mdl-shadow--4dp;
    border-radius: 0;
    margin-top: 0;

    .dropdown-item {
      padding: 5px 15px !important;
      font-size: 1rem;
    }
  }

  .navbar-toggler {
    margin: 9px 31px 9px;
  }

  @include media-breakpoint-down(md) {
    .btn-group {
      display: block;
    }
  }

  #product-tabs {
    text-align: center;
  /*  background-color: darken($primary-color, 10);*/
    background-color: #1a1a1a;
    -webkit-backface-visibility: hidden;
  
    a,
    a:visited {
      padding: 15px 0 6px;
      width: 100%;
      color: #fff;
      font-size:0.9rem;
      opacity: 0.5;
  
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }
  
    a:hover,
    a:active,
    a:focus {
      text-decoration: none;
      opacity: 1 !important;
    }
  
    a.active:after, a.active:before {
      border: solid transparent;
      content: ' ';
      height: 0;
      left: 50%;
      position: absolute;
      width: 0;
    }
  
    a.active:before {
      border-width: 7px;
      border-bottom-color: #eee;
      top: 36px;
    }
  
    a.active {
      opacity: 1 !important;
    }
  
    img {
      height: 19px;
      position: relative;
      top: -2px;
    }
  }

  #product-sub {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    width: 100%;
  
    a,
    a:visited {
      padding: 15px 0 6px;
      color: #888;
      font-size: 1rem;
  
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }

    a.active {
      color: #222;
    }
  
    a:hover,
    a:active,
    a:focus {
      color: #222;
      text-decoration: none;
    }

    .dropdown-item.active {
      background-color: #444;
      color: #fff;
    }

  }
}

.img-thumbnail,
a[data-toggle="lightbox"] img {
  margin-bottom: 20px;
}

abbr[title] {
  text-decoration: none;
}

.btn-list {
  .btn-block {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
}