.shadow-box {
  position: relative;
  box-shadow: $mdl-shadow--4dp;
  transition: all 0.1s ease-in-out;

  &:hover {
    box-shadow: $mdl-shadow--16dp;
    margin-top: -3px;
    margin-bottom: 23px;
  }

  .box-icon {
    height: 100px;
    margin: 20px 0;
  }

  &.box-option {
    .portlet-body {
      text-align: center;
      font-size: 1.5rem;
      min-height: 100px;
    }
  }

  &.grid-item-content {
    .open .dropdown-toggle,
    .dropdown-toggle {
      background-color: #797979 !important;
      color: #fff;
      border:0;
      padding: 6px;
    }

    .badge {
      margin-top: 4px;
    }

    .portlet-heading {
      background-color: #797979;
      padding: 2px 10px 0px;
      .portlet-title {
        color: #fff !important;
        position: absolute;
        width: calc(100% - 46px);
      }
    }
    .table tr td:first-child {
      padding: 4px;
    }
    .table tr td:last-child {
      padding-right: 6px;
    }
  }
}