/.idea
Homestead.json
Homestead.yaml
.env
*.env
*.log
*.exe
*.bu.php
*-override.php
_notes
.sass-cache
/github-deploy-*
/core/public/storage
/core/bower_components
/core/node_modules
/core/.sass-cache
/core/storage/oauth-private.key
/core/storage/oauth-public.key
/core/resources/assets/**/*.css
/core/vendor/**/*.test
/core/vendor/**/Makefile
/core/vendor/**/conf.py
/core/vendor/**/.travis
/core/vendor/**/.travis.yml
/core/vendor/**/*.md
/core/vendor/**/.phpunit.sh
/core/vendor/**/phpunit*
#/core/vendor/**/Tests/
#/core/vendor/**/test/
/core/vendor/**/.gitignore
/core/vendor/**/.gitattributes
/core/vendor/**/LICENSE
/blocks/_src
/assets/bs4/images