
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #146eff;
$indigo: #6574cd;
$purple: #5533ff;
$pink: #f66D9b;
$red: #ff4141;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #58bd24;
$teal: #4dc0b5;
$cyan: #35A3FF;

/*
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
*/