/* Inline editor */

/* 
  Variables
*/

$mdl-shadow--2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !default;
$mdl-shadow--3dp: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12) !default;
$mdl-shadow--4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2) !default;
$mdl-shadow--6dp: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2) !default;
$mdl-shadow--8dp: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !default;
$mdl-shadow--16dp: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !default;

/* 
  Scrollbar styling for webkit
*/

::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #3c424e;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: #3c424e;
}
::-webkit-scrollbar-thumb:active {
  background: #3c424e;
}
::-webkit-scrollbar-track {
  background: #282c34;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
  background: #282c34;
}
::-webkit-scrollbar-track:active {
  background: #282c34;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* 
  TinyMCE styling
*/

.mce-edit-focus {
  outline: 1px solid #138dfa !important;
}

/* 
  Iframe modal
*/

.-x-editor-inline-modal-bg {
  display: none;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0.1) !important;

  .-x-el-inline-modal {
    position: absolute !important;
    background-color: #fff !important;
    box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3) !important;
    top: 50% !important;
    left: 50% !important;

    &.-x-sm {
      width: 380px !important;
      height: 300px !important;
      margin: -150px 0 0 -190px !important;
    }

    &.-x-md {
      width: 500px !important;
      height: 400px !important;
      margin: -200px 0 0 -250px !important;
    }
  }
}

@media (max-width: 991px) {
  .-x-editor-inline-modal-bg {
    .-x-el-inline-modal {
      &.-x-full {
        top: 40px !important;
        left: 40px !important;
        width: calc(100% - 80px) !important;
        height: calc(100% - 80px) !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .-x-editor-inline-modal-bg {
    .-x-el-inline-modal {
      &.-x-sm,
      &.-x-md,
      &.-x-full {
        top: 20px !important;
        left: 20px !important;
        width: calc(100% - 40px) !important;
        height: calc(100% - 40px) !important;
        margin: 0 !important;
      }
    }
  }
}

@media (min-width: 992px) {
  .-x-editor-inline-modal-bg {
    .-x-el-inline-modal {
      &.-x-full {
        top: 60px !important;
        left: 60px !important;
        width: calc(100% - 120px) !important;
        height: calc(100% - 120px) !important;
      }
    }
  }
}

/* 
  Inline buttons
*/


@keyframes bounceIn{
  0%{
    transform: scale(1.5) translate3d(0,0,0);
  }
  30%{
    transform: scale(0.8);
  }
  80%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1) translate3d(0,0,0);
  }
}

.-x-el-inline-button {
  width: 20px !important;
  height: 20px !important;
  position: absolute !important;
  z-index: 90000 !important;
  display: none !important;
  user-select: none !important;

  img.-x-el-icon {
    vertical-align: top !important;
    z-index: 90000 !important;
    cursor: pointer !important;
    border-radius: 50% !important;
    box-shadow: $mdl-shadow--2dp !important;
  }

  &:not(.-x-el-fab) img.-x-el-icon {
    width: 20px !important;
    height: 20px !important;
  }

  &:not(.-x-el-fab) img.-x-el-icon:hover {
    animation-name: bounceIn;
    animation-duration: 300ms !important;
    animation-timing-function: linear !important;
    animation-fill-mode: forwards !important;
  }

  /* 
    FAB button
  */

  &.-x-el-fab {
    display: block !important;
    position: fixed !important;
    bottom: 40px !important;
    right: 40px !important;
  }

  &.-x-el-fab,
  &.-x-el-fab .-x-el-icon {
    width: 60px !important;
    height: 60px !important;
  }

  &.-x-el-fab .-x-el-icon {
    box-shadow: $mdl-shadow--6dp !important;
    transition: 0.2s ease-in-out;
  }

  &.-x-el-fab:hover .-x-el-icon {
    transform: rotate(180deg);
  }
}

.-x-el-inline-button-clone {
  display: block !important;
}

/* 
  Dropdown
*/

.-x-el-dropdown {
  &, ul {
    top: 0 !important;
    position: absolute !important;
    list-style: none !important;
    background-color: #fff !important;
    width: 150px !important;
    z-index: 90010 !important;
    box-shadow: $mdl-shadow--3dp !important;
    margin: 0 !important;
    padding: 0 !important;
    display: none !important;
  }

  ul {
    left: 150px !important;
  }

  &.-x-el-dropdown-left {
    left: -130px !important;
  }

  &.-x-el-dropdown-left,
  &.-x-el-dropdown-top-left {
    ul {
      left: -150px !important;
    }
    .-x-el-caret {
      border-width: 5px 5px 5px 0 !important;
      border-color: transparent #6b6b6b transparent transparent !important;
    }
  }

  li {
    position: relative !important;

    a {
      font-size: 1rem !important;
      width: 100% !important;
      padding: 1em 18px !important;
      display: inline-block !important;
      color: #6b6b6b !important;
      white-space: pre !important;
      box-sizing: border-box !important;
    }

    a:hover,
    a:active,
    a:focus {
      text-decoration: none !important;
      background-color: #ebebeb !important;
    }

    &.separator {
      hr {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
        border: 0 !important;
        border-top: 1px solid #ebebeb !important;
      }
    }

    &:hover ul {
      display: block !important;
    }

    .-x-el-caret {
      top: 22px;
      right: 10px;
      position: absolute !important;
      width: 0 !important;
      height: 0 !important;
      border-style: solid !important;
      border-width: 5px 0 5px 5px !important;
      border-color: transparent transparent transparent #6b6b6b !important;
    }

    &.-x-el-disabled {
      a {
        color: #ccc !important;
      }

      a:hover,
      a:active,
      a:focus {
        background-color: transparent !important;
        cursor: default !important;
      }

      .-x-el-caret {
        border-color: transparent transparent transparent #ccc !important;
      }

      &:hover ul {
        display: none !important;
      }
    }
  }
}

/* 
  Class to reset all properties for element
  to avoid collision with template styles
*/

.-x-el-reset {
  animation : none;
  animation-delay : 0;
  animation-direction : normal;
  animation-duration : 0;
  animation-fill-mode : none;
  animation-iteration-count : 1;
  animation-name : none;
  animation-play-state : running;
  animation-timing-function : ease;
  backface-visibility : visible;
  background : 0;
  background-attachment : scroll;
  background-clip : border-box;
  background-color : transparent;
  background-image : none;
  background-origin : padding-box;
  background-position : 0 0;
  background-position-x : 0;
  background-position-y : 0;
  background-repeat : repeat;
  background-size : auto auto;
  border : 0;
  border-style : none;
  border-width : medium;
  border-color : inherit;
  border-bottom : 0;
  border-bottom-color : inherit;
  border-bottom-left-radius : 0;
  border-bottom-right-radius : 0;
  border-bottom-style : none;
  border-bottom-width : medium;
  border-collapse : separate;
  border-image : none;
  border-left : 0;
  border-left-color : inherit;
  border-left-style : none;
  border-left-width : medium;
  border-radius : 0;
  border-right : 0;
  border-right-color : inherit;
  border-right-style : none;
  border-right-width : medium;
  border-spacing : 0;
  border-top : 0;
  border-top-color : inherit;
  border-top-left-radius : 0;
  border-top-right-radius : 0;
  border-top-style : none;
  border-top-width : medium;
  bottom : auto;
  box-shadow : none;
  box-sizing : content-box;
  caption-side : top;
  clear : none;
  clip : auto;
  color : inherit;
  columns : auto;
  column-count : auto;
  column-fill : balance;
  column-gap : normal;
  column-rule : medium none currentColor;
  column-rule-color : currentColor;
  column-rule-style : none;
  column-rule-width : none;
  column-span : 1;
  column-width : auto;
  content : normal;
  counter-increment : none;
  counter-reset : none;
  cursor : auto;
  direction : ltr;
  display : inline;
  empty-cells : show;
  float : none;
  font : normal;
  font-family : inherit;
  font-size : medium;
  font-style : normal;
  font-variant : normal;
  font-weight : normal;
  height : auto;
  hyphens : none;
  left : auto;
  letter-spacing : normal;
  line-height : normal;
  list-style : none;
  list-style-image : none;
  list-style-position : outside;
  list-style-type : disc;
  margin : 0;
  margin-bottom : 0;
  margin-left : 0;
  margin-right : 0;
  margin-top : 0;
  max-height : none;
  max-width : none;
  min-height : 0;
  min-width : 0;
  opacity : 1;
  orphans : 0;
  outline : 0;
  outline-color : invert;
  outline-style : none;
  outline-width : medium;
  overflow : visible;
  overflow-x : visible;
  overflow-y : visible;
  padding : 0;
  padding-bottom : 0;
  padding-left : 0;
  padding-right : 0;
  padding-top : 0;
  page-break-after : auto;
  page-break-before : auto;
  page-break-inside : auto;
  perspective : none;
  perspective-origin : 50% 50%;
  position : static;
  /* May need to alter quotes for different locales (e.g fr) */
  quotes : '\201C' '\201D' '\2018' '\2019';
  right : auto;
  tab-size : 8;
  table-layout : auto;
  text-align : inherit;
  text-align-last : auto;
  text-decoration : none;
  text-decoration-color : inherit;
  text-decoration-line : none;
  text-decoration-style : solid;
  text-indent : 0;
  text-shadow : none;
  text-transform : none;
  top : auto;
  transform : none;
  transform-style : flat;
  transition : none;
  transition-delay : 0s;
  transition-duration : 0s;
  transition-property : none;
  transition-timing-function : ease;
  unicode-bidi : normal;
  vertical-align : baseline;
  visibility : visible;
  white-space : normal;
  widows : 0;
  width : auto;
  word-spacing : normal;
  z-index : auto;
} 